body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

header {
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a {
    margin-top: 12px;
    margin-right: 15px;
    text-decoration: none;
    color: #5f6368;
}

header a:hover {
    text-decoration: underline;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.main .logo {
    margin-top: 20px;
}

.main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.main form .input-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.main form .input-container input {
    width: 100%;
    height: 50px;
    padding: 0 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
    box-shadow: 2px 2px 10px rgba(98, 17, 17, 0.1);
}

.main form .input-container input:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.main form .input-container input:focus {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    outline: none;
}


.main form .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}

.main form .button-container button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: none;
    cursor: pointer;
    margin: 10px 6px;
    background-color: rgb(248, 249, 250);
    color: rgb(60, 64, 67);
}

.main form .button-container button:hover {
    outline: 1px solid #dfe1e5;
}

.main .language {
    text-align: center;
    color: #5f6368;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(242, 242, 242);
    font-size: 13px;
    color: #5f6368;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

footer .location{
    width: 100%;
    border-bottom: 1px solid #5f6368;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 30px;
    font-size: 16px;
}

footer .content-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

footer .content-container .footer-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer .content-container .footer-links a {
    padding: 15px;
    text-decoration: none;
    color: #5f6368;
}

footer .content-container .footer-links a:hover {
    text-decoration: underline;
}